@import url('https://fonts.googleapis.com/css?family=Lora|Work+Sans');
    

// font-family: 'Work Sans', sans-serif;
// font-family: 'Lora', serif;
// @mixin laptop
//     @media only screen and (max-width: 1024px)
//         @content
@mixin laptop
    @media only screen and (max-width: 1450px)
        @content
@mixin tablet
    @media only screen and (max-width: 768px)
        @content
@mixin phone
    @media only screen and (max-width: 480px)
        @content
header
    // height: 400px
    #mainHeader
        min-height: 130px
        padding-left: 300px
        padding-right: 300px
        // text-align: center
        #navBanner
            // width: 100%
            position: relative
            display: inline-block
            img
                height: 160px
            #navBtn
                display: inline-block
                float: right
                button
                    display: none
        nav
            display: flex
            font-family: 'Work Sans', sans-serif
            font-weight: bold
            font-size: 20px
            height: 160px
            float: right
            #mainNav
                // display: block
                align-self: center
            ul
                display: block
                float: left
                position: relative
                width: 100%
                align-items: center
                li
                    display: inline-block  
                    width: 130px
                    text-align: center
            
.navToggle
    display: block !important
@include laptop
    header
        #mainHeader
            padding-left: 40px
            padding-right: 40px
@include tablet
    header
        #mainHeader
            #navBanner
                width: 100%
                img
                    padding-left: 20px
                #navBtn
                    display: inline-block
                    button
                        display: inline-block
                        float: right
                        height: 160px
                        border: none
                        background-color: white
                        cursor: pointer
                        outline: none
                        &target
                            border: none
                        #hamburger
                            div
                                width: 35px;
                                height: 5px;
                                background-color: black;
                                margin: 6px 0;
            nav
                width: auto
                float: none
                height: auto
                margin: 0 -40px
                #mainNav
                    display: none
                    width: 100%
                    ul
                        li
                            display: block
                            width: 100%
                            padding: 37px 0
                            background-color: #F1EADF
                            &:hover
                                background-color: #353538
                                color: white
                                cursor: pointer
            
@include phone
    header
        #mainHeader
            padding-left: 0
            padding-right: 20px